.asap {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.asap-med {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.asap-bold {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.mon {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}
.manustrial {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
}
button {
  cursor: pointer;
}
.header {
  background: #006999;
}
.header .logo {
  padding: 10px 0 0 0;
}
.header .navbar {
  background: none;
}
.header a.navbar-item {
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
}
.header a.navbar-item:hover {
  background: none;
}
.header a.navbar-item:hover:after {
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  background: #FFF;
}
.header a.navbar-item.is-active {
  color: #b4b4b4;
}
body {
  background: #eceff1;
}
.clearfix {
  clear: both;
  height: 1px;
  width: 100%;
}
.home-banner .slider-item {
  height: 400px;
}
.slider-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.slider-text {
  font-size: 30px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-style: italic;
}
.slider-title {
  font-size: 60px;
  text-shadow: 1px 1px 10px #000000;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.slider-button a {
  border: solid 2px #fff;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.home-donde-viajar {
  position: relative;
  z-index: 9;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.donde-viajar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 300px;
  max-width: 970px;
  background: #fff;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
}
.donde-viajar .donde-viajar-title {
  color: #6e6e6e;
  font-size: 30px;
}
.home-destacados-boxes {
  padding: 40px 0;
}
.owl-carousel-box-slider .owl-nav {
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  z-index: 5;
}
.owl-carousel-box-slider .owl-nav .owl-prev,
.owl-carousel-box-slider .owl-nav .owl-next {
  background: none;
  font-size: 40px;
}
.owl-carousel-box-slider .owl-nav .owl-prev:hover,
.owl-carousel-box-slider .owl-nav .owl-next:hover {
  background: none;
}
.owl-carousel-box-slider .owl-nav .owl-prev {
  float: left;
}
.owl-carousel-box-slider .owl-nav .owl-next {
  float: right;
}
.owl-carousel-box-slider .owl-dots {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.owl-carousel-box-slider .owl-dots .owl-dot span {
  border: solid 2px #fff;
  opacity: 1;
  background: #fff;
}
.owl-carousel-box-slider .owl-dots .owl-dot.active span,
.owl-carousel-box-slider .owl-dots .owl-dot:hover span {
  background: none;
}
.destacados-boxes {
  max-width: 1120px;
  margin: 0 auto;
}
.destacados-boxes .destacado-box-image {
  margin-right: 5px;
}
.destacados-boxes .destacados-boxes-big {
  width: 65%;
  float: left;
}
.destacados-boxes .destacados-boxes-small {
  width: 35%;
  float: left;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image {
  position: relative;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay .ov-title {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay .ov-subtitle {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}
.box-slide-big-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-slide-big-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.box-slide-big-item .overlay {
  background: url('../images/home-box-slide-overlay.png') no-repeat;
  background-size: cover;
}
.box-slide-big-item .overlay .top-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 20%;
}
.box-slide-big-item .slider-text {
  color: #c6c6c6;
  font-size: 37px;
  line-height: 40x;
}
.box-slide-big-item .slider-title {
  font-size: 37px;
  line-height: 40x;
}
.box-slide-big-item .slider-button a {
  padding-top: 1px;
  padding-bottom: 1px;
}
.home-viajes-unicos {
  padding: 30px 0;
}
.home-viajes-unicos-header {
  background: url('../images/home-header-promociones.png') no-repeat;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-viajes-unicos-header .title {
  font-size: 32px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.home-viajes-unicos-header .promo {
  font-size: 43px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.home-viajes-unicos-boxes {
  padding: 20px 0;
}
.home-viajes-unicos-action {
  text-align: center;
  padding: 20px 0;
}
.home-viajes-unicos-action a {
  border: solid 2px #455a64;
  display: inline-block;
  padding: 10px 20px;
  color: #455a64;
}
.viajes-unicos-slide-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.viajes-unicos-slide-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.viajes-unicos-slide-item .overlay {
  background: url('../images/home-box-slide-overlay.png') no-repeat;
  background-size: cover;
}
.viajes-unicos-slide-item .overlay .top-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 20%;
}
.viajes-unicos-slide-item .slider-text {
  color: #c6c6c6;
  font-size: 37px;
  line-height: 40x;
}
.viajes-unicos-slide-item .slider-title {
  font-size: 37px;
  line-height: 40x;
}
.viajes-unicos-slide-item .slider-button a {
  padding-top: 1px;
  padding-bottom: 1px;
}
.viajes-unicos-slide-item .overlay {
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.viajes-unicos-slide-item .overlay-content {
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.viajes-unicos-slide-item .slider-text {
  display: inline-block;
  background: #c01e1a;
  padding: 5px 15px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
}
.viajes-unicos-slide-item .slider-title {
  padding: 10px 0;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
}
.viajes-unicos-slide-item .slider-description {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}
.viajes-unicos-slide-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-banner {
  background: url('../images/footer-banner-bg2.jpg') no-repeat;
  background-size: cover;
  text-align: center;
}
.footer-banner-logo {
  padding: 40px 0 70px;
}
.footer-banner-suscription {
  color: #fff;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 25px 0;
}
.footer-banner-suscription .suscription-title {
  padding-bottom: 25px;
}
.suscription-form {
  max-width: 920px;
  margin: 0 auto;
}
.suscription-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.suscription-form input,
.suscription-form button {
  margin: 0;
  border: none;
  height: 53px;
  font-size: 22px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.suscription-form input {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  padding: 0 10px;
  font-style: initial;
}
.suscription-form button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #f68014;
  color: #fff;
  cursor: pointer;
}
.footer-banner-nav {
  padding: 50px 0;
}
.footer-banner-nav a {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 18px;
}
.footer-contacto {
  background: #006999;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.footer-bottom {
  background: #13202d;
  color: #fff;
  padding: 30px 0;
}
.footer-bottom-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer-bottom-content .footer-bottom-text {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  text-align: left;
  font-size: 12px;
}
.footer-bottom-content .footer-bottom-afip {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer-bottom-content .footer-bottom-kodear {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.promos-top {
  background: url(../images/promos-bg-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 75px;
}
.promos-bg-viajes-unicos {
  background: url('../images/home-header-promociones.png') no-repeat;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
}
.promos-bg-viajes-unicos .title {
  font-size: 32px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.promos-bg-viajes-unicos .promo {
  font-size: 43px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.promos-bg-viajes-unicos .promos-top-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  color: #455a64;
}
.promos-bg-viajes-unicos .promos-top-nav {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  color: #455a64;
  font-size: 24px;
}
.promos-bg-viajes-unicos .promos-top-nav a {
  margin: 0 10px;
  color: #455a64;
}
.promos-bg-viajes-unicos .promos-top-nav a:hover,
.promos-bg-viajes-unicos .promos-top-nav a.active {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
