.asap {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.asap-med {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.asap-bold {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.mon {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}
.manustrial {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
}
.opens {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
button {
  cursor: pointer;
}
.link-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.basic-shadow {
  -webkit-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
}
.item-shadow {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
}
.input-shadow {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}
.animate-basic {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.header {
  background: #006999;
}
.header .logo {
  padding: 10px 0 0 0;
}
.header .navbar {
  background: none;
}
.header a.navbar-item {
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
}
.header a.navbar-item:hover {
  background: none;
}
.header a.navbar-item:hover:after {
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  content: '';
  height: 6px;
  background: #fff;
}
.header a.navbar-item.is-active {
  color: #b4b4b4;
}
body {
  background: #eceff1;
}
.clearfix {
  clear: both;
  height: 1px;
  width: 100%;
}
.home-banner .slider-item {
  height: 400px;
}
.slider-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.slider-text {
  font-size: 30px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-style: italic;
}
.slider-title {
  font-size: 60px;
  text-shadow: 1px 1px 10px #000000;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.slider-button a {
  border: solid 2px #fff;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.home-donde-viajar {
  position: relative;
  z-index: 9;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.donde-viajar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 300px;
  max-width: 970px;
  background: #fff;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
}
.donde-viajar .donde-viajar-title {
  color: #6e6e6e;
  font-size: 30px;
}
.home-destacados-boxes {
  padding: 40px 0;
}
.owl-carousel-box-slider .owl-nav {
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  z-index: 5;
}
.owl-carousel-box-slider .owl-nav .owl-prev,
.owl-carousel-box-slider .owl-nav .owl-next {
  background: none;
  font-size: 40px;
}
.owl-carousel-box-slider .owl-nav .owl-prev:hover,
.owl-carousel-box-slider .owl-nav .owl-next:hover {
  background: none;
}
.owl-carousel-box-slider .owl-nav .owl-prev {
  float: left;
}
.owl-carousel-box-slider .owl-nav .owl-next {
  float: right;
}
.owl-carousel-box-slider .owl-dots {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.owl-carousel-box-slider .owl-dots .owl-dot span {
  border: solid 2px #fff;
  opacity: 1;
  background: #fff;
}
.owl-carousel-box-slider .owl-dots .owl-dot.active span,
.owl-carousel-box-slider .owl-dots .owl-dot:hover span {
  background: none;
}
.destacados-boxes {
  max-width: 1120px;
  margin: 0 auto;
}
.destacados-boxes .destacado-box-image {
  margin-right: 5px;
}
.destacados-boxes .destacados-boxes-big {
  width: 65%;
  float: left;
}
.destacados-boxes .destacados-boxes-small {
  width: 35%;
  float: left;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image {
  position: relative;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay .ov-title {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
}
.destacados-boxes .destacados-boxes-small .destacado-box-image .overlay .ov-subtitle {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}
.box-slide-big-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-slide-big-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.box-slide-big-item .overlay {
  background: url('../images/home-box-slide-overlay.png') no-repeat;
  background-size: cover;
}
.box-slide-big-item .overlay .top-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 20%;
}
.box-slide-big-item .slider-text {
  color: #c6c6c6;
  font-size: 37px;
  line-height: 40x;
}
.box-slide-big-item .slider-title {
  font-size: 37px;
  line-height: 40x;
}
.box-slide-big-item .slider-button a {
  padding-top: 1px;
  padding-bottom: 1px;
}
.home-viajes-unicos {
  padding: 30px 0;
}
.home-viajes-unicos-header {
  background: url('../images/home-header-promociones.png') no-repeat;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-viajes-unicos-header .title {
  font-size: 32px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.home-viajes-unicos-header .promo {
  font-size: 43px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.home-viajes-unicos-boxes {
  padding: 20px 0;
}
.home-viajes-unicos-action {
  text-align: center;
  padding: 20px 0;
}
.home-viajes-unicos-action a {
  border: solid 2px #455a64;
  display: inline-block;
  padding: 10px 20px;
  color: #455a64;
}
.viajes-unicos-slide-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.viajes-unicos-slide-item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.viajes-unicos-slide-item .overlay {
  background: url('../images/home-box-slide-overlay.png') no-repeat;
  background-size: cover;
}
.viajes-unicos-slide-item .overlay .top-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 20%;
}
.viajes-unicos-slide-item .slider-text {
  color: #c6c6c6;
  font-size: 37px;
  line-height: 40x;
}
.viajes-unicos-slide-item .slider-title {
  font-size: 37px;
  line-height: 40x;
}
.viajes-unicos-slide-item .slider-button a {
  padding-top: 1px;
  padding-bottom: 1px;
}
.viajes-unicos-slide-item .overlay {
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.viajes-unicos-slide-item .overlay-content {
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.viajes-unicos-slide-item .slider-text {
  display: inline-block;
  background: #c01e1a;
  padding: 5px 15px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
}
.viajes-unicos-slide-item .slider-title {
  padding: 10px 0;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
}
.viajes-unicos-slide-item .slider-description {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}
.viajes-unicos-slide-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-banner {
  background: url('../images/footer-banner-bg2.jpg') no-repeat;
  background-size: cover;
  text-align: center;
}
.footer-banner-logo {
  padding: 40px 0 70px;
}
.footer-banner-suscription {
  color: #fff;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 25px 0;
}
.footer-banner-suscription .suscription-title {
  padding-bottom: 25px;
}
.suscription-form {
  max-width: 920px;
  margin: 0 auto;
}
.suscription-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.suscription-form input,
.suscription-form button {
  margin: 0;
  border: none;
  height: 53px;
  font-size: 22px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.suscription-form input {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  padding: 0 10px;
  font-style: initial;
}
.suscription-form button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #f68014;
  color: #fff;
  cursor: pointer;
}
.footer-banner-nav {
  padding: 50px 0;
}
.footer-banner-nav a {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 18px;
}
.footer-contacto {
  background: #006999;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.footer-bottom {
  background: #13202d;
  color: #fff;
  padding: 30px 0;
}
.footer-bottom-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer-bottom-content .footer-bottom-text {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  text-align: left;
  font-size: 12px;
}
.footer-bottom-content .footer-bottom-afip {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer-bottom-content .footer-bottom-kodear {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.promos-top {
  background: url(../images/promos-bg-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 75px;
}
.promos-bg-viajes-unicos {
  background: url('../images/home-header-promociones.png') no-repeat;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
}
.promos-bg-viajes-unicos .title {
  font-size: 32px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.promos-bg-viajes-unicos .promo {
  font-size: 43px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.promos-bg-viajes-unicos .promos-top-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  color: #455a64;
}
.promos-bg-viajes-unicos .promos-top-nav {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  color: #455a64;
  font-size: 24px;
}
.promos-bg-viajes-unicos .promos-top-nav a {
  margin: 0 10px;
  color: #455a64;
}
.promos-bg-viajes-unicos .promos-top-nav a:hover,
.promos-bg-viajes-unicos .promos-top-nav a.active {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.promos-search-content {
  max-width: 920px;
  margin: 0 auto;
  max-width: 740px;
  padding: 20px 0;
}
.promos-search-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promos-search-content input,
.promos-search-content button {
  margin: 0;
  border: none;
  height: 53px;
  font-size: 22px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.promos-search-content input {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  padding: 0 10px;
  font-style: initial;
}
.promos-search-content button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #f68014;
  color: #fff;
  cursor: pointer;
}
.promos-search-content button {
  background: #56646b;
}
.promos-result-list {
  padding: 30px 0 40px 0;
}
.promos-result-content {
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promos-result-content .promos-result-item {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 350px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
  margin-bottom: 30px;
  position: relative;
}
.promos-result-content .promos-result-item .promos-result-item-more {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -webkit-transform: translate(0, 36px);
  transform: translate(0, 36px);
}
.promos-result-content .promos-result-item:hover .promos-result-item-more,
.promos-result-content .promos-result-item.active .promos-result-item-more {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.promos-result-content .promos-result-item:hover .promos-result-item-description,
.promos-result-content .promos-result-item.active .promos-result-item-description {
  -webkit-transform: translate(0, -36px);
  transform: translate(0, -36px);
}
.promos-result-item-description {
  margin-top: -5px;
  padding: 30px 25px;
  position: relative;
  background: #fff;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.pr-price {
  margin-left: 25px;
  display: inline-block;
  background: #c01e1a;
  padding: 5px 15px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: -30px;
  left: 0;
}
.pr-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}
.pr-subtitle {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
  font-size: 16px;
  text-transform: uppercase;
}
.pr-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.promos-result-item-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  font-size: 15px;
  text-transform: uppercase;
  background: #a9adb1;
  text-align: center;
  color: #fff;
}
.promos-result-action {
  text-align: center;
  padding: 20px 0;
}
.promos-result-action a {
  border: solid 2px #455a64;
  display: inline-block;
  padding: 10px 20px;
  color: #455a64;
}
.promo-item-top .promo-item-top-bg {
  background-size: cover;
  background-position: center center;
}
.promo-item-top .promo-item-top-bg .container {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo-item-top .box-reservar {
  width: 30%;
}
.promo-item-center-bg {
  background: url(../images/promos-bg-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 75px;
}
.promo-item-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.promo-item-center-content .social-box,
.promo-item-center-content .galery-photos,
.promo-item-center-content .documentos-dowload {
  padding-bottom: 30px;
}
.promo-item-center-content .promo-item-sidebar {
  width: 30%;
}
.promo-item-center-content .promo-item-information {
  width: 70%;
  padding-right: 40px;
}
.btn-print {
  float: right;
  position: relative;
  top: -32px;
  display: inline-block;
  padding: 4px  9px;
  border: solid 1px #bdc2c5;
  font-size: 15px;
  color: #bdc2c5;
}
.btn-print i {
  margin-right: 5px;
}
.header-promo-item {
  padding: 15px 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: solid 1px #98999a;
  position: relative;
}
.header-promo-item .head-promo-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
}
.header-promo-item .head-promo-subtitle {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  opacity: 0.5;
}
.article-promo-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  padding-bottom: 70px;
}
.article-promo-item p {
  font-size: 16px;
  line-height: 28px;
  margin: 15px 0px;
}
.overlay-galery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.overlay-galery .overlay-content {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.overlay-galery .close {
  text-align: right;
}
.overlay-galery .close a {
  position: relative;
  right: -5px;
  color: #FFF;
}
.overlay-galery .owl-thumb-item img {
  width: 150px;
  height: auto;
}
.overlay-galery .owl-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 50px;
}
.overlay-galery .owl-thumbs .owl-thumb-item {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  height: 115px;
  width: 115px;
}
.overlay-galery .owl-thumbs .owl-thumb-item img {
  height: 100%;
  width: auto;
}
.box-reservar {
  text-align: center;
}
.box-reservar-top {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
}
.br-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  text-transform: uppercase;
}
.br-description {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
  font-size: 16px;
  text-transform: uppercase;
}
.box-reservar-price {
  background: rgba(29, 45, 60, 0.9);
  padding: 15px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.box-reservar-price .br-price {
  font-size: 41px;
  line-height: 41px;
}
.box-reservar-price .br-price-note {
  padding-left: 5px;
  font-size: 13px;
  line-height: 15px;
}
.box-reservar-action {
  padding: 5px 0;
}
.box-reservar-action a {
  display: block;
  background: #f68014;
  padding: 15px 10px;
  color: #fff;
  font-size: 27px;
}
.sb-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
  font-size: 18px;
  opacity: 0.6;
  text-align: center;
}
.social-box {
  text-align: center;
}
.social-box .sb-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.social-box .sb-social-links a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2px;
  padding: 13px 0;
  color: #fff;
}
.social-box .sb-social-links a i {
  font-size: 35px;
}
.social-box .sb-social-links a.sb-face {
  background: #3b5998;
}
.social-box .sb-social-links a.sb-twit {
  background: #47b1f2;
}
.gp-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
  font-size: 18px;
  opacity: 0.6;
  text-align: center;
}
.gp-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gp-photos .gp-item {
  position: relative;
  width: 33%;
  padding: 0 1px;
}
.gp-photos .gp-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.gp-photos .gp-item a img {
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  -webkit-transform: translate(0, -30px);
  transform: translate(0, -30px);
}
.gp-photos .gp-item a:hover {
  opacity: 1;
}
.gp-photos .gp-item a:hover img {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.dd-title {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
  font-size: 18px;
  opacity: 0.6;
  text-align: center;
}
.documentos-dowload {
  color: #455a64;
}
.documentos-dowload .dd-list {
  max-height: 260px;
  overflow: scroll;
}
.documentos-dowload .dd-name {
  font-size: 20px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}
.documentos-dowload .dd-detail {
  font-size: 16px;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
}
.documentos-dowload .dd-list-item {
  margin-right: 15px;
  padding: 15px 0 15px 60px;
  border-bottom: solid 1px #919ba0;
  position: relative;
  background: url(../images/icon-descarga.png) no-repeat;
  background-position: 8px center;
}
.contacto-top .contacto-top-bg {
  background-size: auto 100%;
  background-position: center center;
  height: 430px;
}
.contacto-info-bg {
  position: relative;
  top: -40px;
  background: #FFF;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contacto-info-bg .contacto-info-sep {
  height: 132px;
  width: 1px;
  background: #e7e8ea;
}
.contacto-info-bg .ci-icon {
  font-size: 44px;
  color: #f68014;
}
.contacto-info-bg .ci-desc {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  min-height: 50px;
}
.contacto-info-bg .contacto-info-box {
  position: relative;
  width: 33%;
}
.contacto-info-bg .contacto-info-box.border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: #e7e8ea;
}
.contacto-center-bg {
  background: url(../images/promos-bg-top.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 0;
}
.tus-proximos-viajes {
  background: url('../images/tu-proximo-viaje-bg.png') no-repeat;
  background-position: top center;
  text-transform: uppercase;
  text-align: center;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 30px 0px 30px;
}
.tus-proximos-viajes .title,
.tus-proximos-viajes .desc {
  max-width: 630px;
  margin: 0 auto;
}
.tus-proximos-viajes .title {
  font-size: 43px;
  color: #455a64;
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.tus-proximos-viajes .desc {
  font-size: 14px;
  color: #455a64;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  opacity: 0.6;
}
.contacto-form {
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 680px;
  margin: 0 auto;
}
.contacto-form-content .cf-input {
  width: 50%;
  float: left;
  padding: 10px;
}
.contacto-form-content .cf-input.full {
  width: 100%;
}
.contacto-form-content .cf-input .select,
.contacto-form-content .cf-input select {
  width: 100%;
}
.contacto-form-content .cf-input input,
.contacto-form-content .cf-input select,
.contacto-form-content .cf-input textarea {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}
.contacto-form-content .cf-action {
  padding: 20px 0;
  text-align: center;
}
.contacto-form-content .cf-action button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  padding: 0 33px;
  background: #455a64;
  color: #FFF;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}
.is-sticky {
  z-index: 99;
  position: relative;
}
.is-sticky .header {
  z-index: 99;
}
.is-sticky .promos-search {
  background: #f68014;
}
