@azul: #006999;
@azuloscuro:#13202d;
@gris: #6e6e6e;
@verdeazul:#455a64;
@naranja: #f68014;
@nav-hover:#b4b4b4;
@btngris:#56646b;

@max-page:1200px;

.asap{
    font-family: 'Asap Condensed';
    font-style: normal;
    font-weight: 400;
}
.asap-med{
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 500;
}
.asap-bold{
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 700;
}


.mon{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;    
}

.manustrial{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
}

.opens{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}


button{
    cursor: pointer;
}

.link-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.basic-shadow{
    -webkit-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.37);
}

.item-shadow{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.37);
}


.animate-basic{
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;   
}


.my-translation(@animation-width, @animation-height){
    -webkit-transform: translate(@animation-width,@animation-height);
    -moz-transform: translate(@animation-width,@animation-height);
    -o-transform: translate(@animation-width,@animation-height);
    -ms-transform: translate(@animation-width,@animation-height);
    transform: translate(@animation-width,@animation-height); 
}