.header {
	background: @azul;
	.logo {
		padding: 10px 0 0 0;
	}
	.navbar {
		background: none;
	}
	a.navbar-item {
		color: #fff;
		.mon;
		font-size: 15px;
		line-height: 40px;
		&:hover {
			background: none;
			&:after {
				width: 100%;
				left: 0;
				bottom: 0;
				display: block;
				position: absolute;
				content: '';
				height: 6px;
				background: #fff;
			}
		}
		&.is-active {
			color: @nav-hover;
		}
	}
}

@media (max-width: 768px) {
	.header {
		.logo {
			padding: 10px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;
			span {
				color: #fff;
			}
		}
		.navbar-menu {
			background: none;
		}
		.navbar {
			background: none;
		}
	}
}
