.promos-top{
    background: url(../images/promos-bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 75px;
}

.promos-bg-viajes-unicos{
    .home-viajes-unicos-header;
    padding-top: 120px;
    .promos-top-title{
        .asap-bold;
        font-size: 43px;
        color: @verdeazul;
    }
    .promos-top-nav{
        .asap;
        color: @verdeazul;
        font-size: 24px;
        a{
            margin: 0 10px;
            color: @verdeazul;
            &:hover, &.active{
                .asap-bold;
            }
        }
    }
}

.promos-search-content{
    .suscription-form;
    max-width: 740px;
    padding: 20px 0; 
    button{
        background: @btngris;
    }
}

