.box-reservar{
    text-align: center;
}
.box-reservar-top{    
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 10px;
}

.br-title{
    .pr-title;
    text-transform: uppercase;
}
.br-description{
    .pr-subtitle;
    text-transform: uppercase;
}
.box-reservar-price{     
    background: rgba(29, 45, 60, 0.9);
    padding: 15px 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .asap;
    .br-price{
        font-size: 41px;
        line-height: 41px;
    }
    .br-price-note{
        padding-left: 5px;
        font-size: 13px;
        line-height: 15px;

    }
}
.box-reservar-action{
    padding: 5px 0;
    a{
        display: block;
        background: @naranja;
        padding: 15px 10px;
        color: #fff;
        font-size: 27px;
    }
}